<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ContactMe</title>
    style
        include ContactPageStyle.css 
</head>
<body>
    <section>
        <ul id="Get">
            <li>Get In Touch!</li>
            <li class="line1"></li>
        </ul>
    </section>
    <section >
        <span class="message">I  am looking forward to build with you!</span>
        <span class="message1">I am always intrested in collaborating on new project or just grabbing coffee(with your money).I'm most definitely game.So get in touch using the form below or reaching me direct.!</span>
    </section>
    <section id="Down">
       <form  id="AllInput" action="/Contact" method="post"> 
        <input class="NameInput" type="text" name="Name" id="Name" placeholder="Enter YourName">
        <input class="NameInput" type="email" name="Email" id="Email" placeholder="Enter a valid Email-Id">
        <textarea name="Text" id="Text" cols="30" rows="10" placeholder="Write Your Message"></textarea>
        <input id="Button" type="submit" value="Submit">
       </form>
       <div>
        <div id="Details">
            <li id="Location"></li>
            <li style="padding-top:10px;">Chhau, Jhunjhunu, Rajasthan</li>
            <li style=" color: blue;">333305</li>
        </div>
        <div id="Details1">
            <li id="gmail"></li>
            <li  style="padding-top: 10px;color:blue;width:250px;">Praveenkumarnitkkr@gmail.com</li>
            <li style="padding-top: 5px;">Praveendaria5@gmail.com</li>
        </div>
        <div id="Details1">
            <li id="phone"></li>
            <li  style="padding-top:10px;color:blue;">+91 8529372603</li>
            <li style="padding-top: 5px;">+91 7073310171</li>
        </div>
       </div>
    </section>
</body>
</html>